<p-toast></p-toast>
<div class="main">
    <p-card header="Login">
    <div class="grid">
        <div class="col-5 flex align-items-center justify-content-center">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <div class="field">
                    <label for="username">Username</label>
                    <input pInputText id="username" type="text" formControlName="username" placeholder="Enter Username"/>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <p-password id="password" [toggleMask]="true" formControlName="password" [feedback]="false" placeholder="Enter Password"></p-password>
                </div>
                <button type="submit" pButton icon="pi pi-check" label="Login"
                    [disabled]="loginForm.invalid || loading"></button>
            </div>
        </form>
        </div>
        <div class="col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
            <p-button (onClick)="onSignUp()" label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
        </div>
    </div>
</p-card>
</div>