<p-toolbar>
    <div class="p-toolbar-group-start">
        <h1>Movies</h1>
    </div>
    <div class="p-toolbar-group-end">
        <p-button pTooltip="Refresh" tooltipPosition="bottom" icon="pi pi-refresh" class="mr-2" (onClick)="getMovieList()"></p-button>
    </div>
</p-toolbar>
<div class="main" *ngIf="movies">
<div class="spinner-container">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>
<div class="card-grid">
    <div class="card" *ngFor="let movie of movies">
      <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-circle" [src]="'https://ui-avatars.com/api/?name=' + movie.title" [alt]="movie.title" />
      <h2>{{ movie?.title }}</h2>
      <h5>{{movie?.genres}}</h5>
      <p>{{ movie?.description | ellipsis:25 }}</p>
    </div>
  </div>
  <p-paginator [rows]="itemsPerPage" [totalRecords]="totalRecords" [first]="currentPage" (onPageChange)="onPageChange($event)"></p-paginator>
</div>