<p-toolbar>
    <div class="p-toolbar-group-start">
        <h1>Trending Movies</h1>
    </div>
    <div class="p-toolbar-group-end">
        <div class="flex mr-2">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search Movie" [(ngModel)]="search"/>
            </span>
        </div>
        <p-button label="Refresh" icon="pi pi-refresh" (onClick)="getMovieList()"></p-button>
    </div>
</p-toolbar>
<div class="main" *ngIf="movies">
<div class="spinner-container">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>
<div class="card-grid">
    <div class="card" *ngFor="let movie of movies">
      <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-circle" [src]="'https://ui-avatars.com/api/?name=' + movie.title" [alt]="movie.title" />
      <h2>{{ movie?.title }}</h2>
      <h5>{{movie?.genres}}</h5>
      <p>{{ movie?.description | ellipsis:25 }}</p>
    </div>
  </div>
  <div class="paginator">
      <p-paginator [rows]="itemsPerPage" [totalRecords]="totalRecords" [first]="currentPage" (onPageChange)="onPageChange($event)"></p-paginator>
  </div>
</div>